In [26]:
import time
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.neural_network import MLPClassifier, MLPRegressor
import calculations.item_functions as feature
import pandas as pd

In [4]:
#bike sharing data
data = pd.read_csv('../datasets/cal_housing.csv')
y = data['medianHouseValue'] #> 75
X = data.drop(['medianHouseValue'], axis=1)
data

,longitude,latitude,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0
...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0

In [27]:
X = X.select_dtypes(include=[np.number]) #filter X to only include numeric columns
X = X.fillna(X.mean()) #fill NaN values with the mean of the column


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

X_test = X_test.reset_index(drop=True)
y_test = y_test.reset_index(drop=True)

X_train_means = X_train.mean().to_frame().T

COLUMNS = X_train.columns

#regression
nn = GradientBoostingRegressor()
#nn = MLPRegressor(solver="adam", alpha=1e-1, hidden_layer_sizes=(10, 15, 20, 20, 15, 10), random_state=0, max_iter=1000)
nn.fit(X_train, y_train)

def print_R2(f):
    print(
        "R2 = {0}".format(
            f(X_test, y_test))
    )
    time.sleep(0.5)  # to let the print get out before any progress bars
    
print_R2(nn.score)

R2 = 0.7687785763416113

In [28]:
import pickle

with open('../datasets/cal_housing_nn.pkl', 'wb') as file:

    # A new file will be created
    pickle.dump(nn, file)

In [16]:
with open('../datasets/cal_housing_train.csv', 'wb') as file:
    
        # A new file will be created
        X_train.to_csv(file, index=False)

In [17]:
with open('../datasets/cal_housing_traintruth.csv', 'wb') as file:
    
    y_train.to_csv(file, index=False)